:root {
    --blue: #095877;
    --orange: #f64e20;
}

body {   
    background: var(--blue);
}

h1 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

#frm {  
    border: solid white 1px;  
    width: 30%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: var(--orange);  
    padding: 50px;  
    color: white;
    text-align: left;
}

#frm label {
    font-size: 20px;
    font-weight: bold;
}

#frm input[type="text"], #frm input[type="password"]  {
    padding: 5px;
    width: 50%;
}

#btn {  
    color: white;  
    background: var(--blue);  
    padding: 7px 10px; 
    font-size: 18px;
}

.init-form {
    margin: 0 auto;
    width: 130px;
}

.login, .register {
    display: inline-block;
}

#btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.init-button {
    color: white;  
    background: var(--orange);  
    padding: 7px 10px; 
    font-size: 18px;
}

.init-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.hobbies {
    background-color: var(--blue);
    padding: 10px;
    border: 2px solid white;
}

.hobbies label {
    font-weight: normal !important;
}

table {
    width: 100%;
}